html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: gainsboro;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
}
#middle-initial{
    font-style: normal;
    color:aliceblue;
    text-shadow: 0 0 5 black;
}
h1{
    font-family: 'Rokkitt', serif;
    font-size: 4.5vw;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
/*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/
}
#logo{
    width: 50px;
    height; 50px;
    display: inline;
    position: absolute;
    top: 16px;
    left: 16px;
}
#face{
    border-radius: 50%;
    width: 160px;
    float: left;
    margin: 0 25px 0 0;
}

#profile{
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 400px;
    height: 160px;
}
nav{
    display: block;
    text-align: center;
    background: white;/*linear-gradient(black,#383838);*/
    padding: 20px 20px;
    margin: 0 0 auto 0;
    box-shadow: 0 -6px 10px 8px black;
    font-size: 1vw;
    z-index: 100; 
    position: sticky; 
    top: 0; 
    left: 0; 
    right: 0;
}
.navElement{
    font-size:14px;
    text-decoration: none;
    color: black;
    padding: 2px 10px;
    letter-spacing: .5px;
    
}
#current{
    border: 1px solid;
    padding: 2px 9px; /* So that the addition of the border doesn't push other menu elements */
}
.navElement:hover {
    color: darkgray; 
}
header{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.headerImage{
    width: 100%;
}
.headerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p,li {
    font-size: 16px;
    line-height: 2;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
/*
    width: 900px;
    
    padding: 0 20px 20px 20px;
*/
    margin: 0 auto;
}
a{
    cursor: default;
}
