html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: gainsboro;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
}
h1{
    font-family: 'Rokkitt', serif;
    font-size: 4.5vw;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
/*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/
}
h2{
    font-family: 'Rokkitt', serif;
    font-size:40px;
    margin: 0;
    margin-top: 15px;
}
#logo{
    width: 50px;
    height; 50px;
    display: inline;
    position: absolute;
    top: 10px;
    left: 10px;
}
#face{
    border-radius: 50%;
    width: 180px;
    float: left;
    margin: 0 25px 0 0;
}

#profile{
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 500px;
    height: 180px;
}
#about{
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 500px;
    height: 180px;
}
nav{
    display: block;
    text-align: center;
    background: #444444;
    padding: 15px 0;
    margin: 0 0 auto 0;
    box-shadow: 0 -6px 10px 5px black;
    font-size: 1vw;
    z-index: 100; 
/*    position: sticky; */
    top: 0; 
    left: 0; 
    right: 0;
}
.navElement{
    font-size:14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px 10px;
    letter-spacing: .5px;
    margin: 0;
    
}
#footer-icon{
    width: 25px;
    padding: 2px;
}
#current{
/*
    border: 1px solid;
    cursor: default;
    background-color: aqua;
*/
}

@keyframes navFade{
    0% {
        background: #444444;
        border: 1px solid #444444;
    }
    
    100% {
        background: red;
        border: 1px solid red;
    }
}
.navElement:hover, .navElement:focus {
    animation-name: navFade;
    animation-duration: 0.25s;
    background-color: red;     
    padding: 15px 9px;
    border: 1px solid red;
    cursor: default;
}

footer{
    position:fixed;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    text-align: center;
/*    box-shadow: 0 5px 15px 2px black;*/
    background-color:white;
}
header{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.headerImage{
    width: 100%;
}
.headerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
/*
    width: 900px;
    
    padding: 0 20px 20px 20px;
*/
    margin: 0 auto;
}