html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e5e5e5;
/*    height: 100%;*/
/*
    margin: 0;
    padding: 0;
    cursor: default;
*/
	position: relative;
    min-height: 100%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
	font-weight: normal;
	letter-spacing: 0px;
    margin: 0;
    padding: 20px 0;
	text-align: center;
	cursor: default;
/*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/
}
h2{
	font-family: 'Montserrat', sans-serif;
    font-size: 22px;
	font-weight: normal;
	color: gray;
	letter-spacing: 0px;
    margin: 0;
    padding: 0;
	text-align: center;
	cursor: default;
}
h2 #h2_link{
	color: gray;
	text-decoration: none;
	cursor: pointer;
}
h2 #h2_link:hover{
	text-decoration: underline;
	cursor: pointer;
}

h3{
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	font-weight: bold;
	letter-spacing: 0px;
	
}
#contact_icon{
	width: 25px;
	vertical-align:-16px;
	margin: 0;
	padding: 10px 0;
	border: 0;
}
#logo{
    width: 40px;
    display: inline;
    position: absolute;
    top: 8px;
    left: 10px;
}
#face{
    border-radius: 50%;
    width: 115px;
    display: block;
	margin: 0 auto;
}

#content{
	margin: 0 auto;
	width: 40%;
/*	background-color: white;*/
	padding: 50px;
	padding-top: 20px;
}

#profile{
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 500px;
    height: 180px;
}
#about{
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 500px;
    height: 180px;
}
nav{
    display: block;
    text-align: center;
    background: #383838;
    padding: 10px 0;
    box-shadow: 0 -6px 10px 5px black;
    z-index: 100; 
/*    position: sticky; */
    top: 0; 
    left: 0; 
    right: 0;
	position: sticky;
}
.navElement{
    font-family: 'Montserrat', sans-serif;
	font-size:13px;
    text-decoration: none;
    color: white;
    padding: 7px 5px;
	margin: 8px 5px;
    letter-spacing: .05px;
    
}
#footer-icon{
    width: 24px;
    padding: 0;
	margin-top: 8px;
	border: 0;
	letter-spacing: 0;
}


/*
@keyframes navFade{
    0% {
        background: #444444;
        border: 1px solid #444444;
    }
    
    100% {
        background: red;
        border: 1px solid red;
    }
}*/
.navElement:hover, .navElement:focus {
/*
    animation-name: navFade;
    animation-duration: 0.25s;
    background-color: red;     
    padding: 15px 9px;
    border: 1px solid red;
    cursor: default;
*/

	color:gray;
}

#current{
/* (BOX)
	border: 2px solid;
	margin: 6px 3px;
*/
	text-decoration: underline;
}
#current:hover, #current:focus{
	color:gray;
}
footer{
	color: white;
	box-shadow: 0 6px 10px 5px black;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
	background-color: #383838;
	text-align: center;
}
footer img{
	padding: 0;
	margin-top: 5px;
	border: 0;
}
header{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.headerImage{
    width: 100%;
}
.headerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
/*    height: 100%;*/
    margin: 0;
    padding: 0;
/*
    width: 900px;
    
    padding: 0 20px 20px 20px;
*/
    margin: 0 auto;
}

#downloadsList{
	text-align: center;
	padding: 5px;
	color: black;
}
.download{
	background-color: white;
	overflow: auto;
	padding: 0;
	margin: 25px;
}
.download img{
	height: 215px;
	border: 1px solid #383838;
	box-shadow: 6px 6px 20px -4px black;
	margin: 25px;
	float: left;
	margin-right: 45px;

}
.download #button{
	background-color: #ffb247;
	color: #383838;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	text-decoration: none;
	padding: 6px;
	font-weight: bold;
/*	border: 1px solid #383838;*/
	border-radius: 4px;
	box-shadow: 0 0 8px -2px black;
	margin-bottom: 1px;
	
}
.download #button:hover{
	background-color: #ef8b00;
}
.download #desc{
	height: 138px;
	width:90%;
}
.download #filetype{
	padding:0;
	margin-top:8px;
	font-size: 12px;
}
.contact_li{
	padding: 5px;
	text-decoration: none;
	font-size: 18px;
	color: grey;
}
.contact_li:hover{
	color: black;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #4c4c4c;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 	font-size: 14px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top: 100%;
    left: 50%; 
    margin-left: -100px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.about_me{
	float: left;
	width: 60%;
	padding: 0 30px;
	font-family: 'Montserrat', sans-serif;
}
.contact{
	float: left;
	width: 20%;
	padding: 0 30px;
	font-family: 'Montserrat', sans-serif;
}